@import "tailwindcss";

:root {
  --background: #f7f4ed; /* Sepia base */
  --foreground: #1a1a1b;
  --card: #fdfcfb;      /* Color Hueso */
  --border: #e6e2d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bone: var(--card);
  --color-sepia-border: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f4ed;
    --foreground: #1a1a1b;
    --card: #fdfcfb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}